<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <div class="container px-5">
    <a class="navbar-brand" style="text-decoration: none;" routerLink="">Ride</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="dropdown">
      <!-- <a class="text-white" style="text-decoration: none;"></a> -->
      <a class="dropdown-toggle" type="button" class=name id="userProfile" data-bs-toggle="dropdown"
      aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true"></i>
    </a>
    <ul class="dropdown-menu" aria-labelledby="userProfile">
    <li><a  routerLink="sign-up" class="nav-link dropdown-item">Sign Up</a>
    <li><a  routerLink="sign-in" class="nav-link dropdown-item">Sign In</a>
    <li><a  routerLink="view-profile" class="nav-link dropdown-item"><i class="fa fa-user"></i>Profile</a></li>
    <li><a style="cursor: pointer" class="nav-link dropdown-item"><i class="fa fa-car"></i>Your Rides</a></li>
    <li><a  class="nav-link dropdown-item"><i class="fas fa-comment" aria-hidden="true"></i>Inbox</a></li>
    <li><a class="nav-link dropdown-item"><i class="fas fa-sign-out-alt" aria-hidden="true"></i>Sign Out</a>
    </li>
  </ul>
    </div>
  </div>
</nav>
