  <div class="home-content">
    <div class="overview-boxes">
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total User</div>
          <div class="number">{{total_user}}</div>
          <div class="indicator">
            <i class='bx bx-user'></i>

            <span class="text">Up from yesterday</span>
          </div>
        </div>
        <i class='bx bx-user cart'></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Booking Rides</div>
          <div class="number">{{total_booker}}</div>
          <div class="indicator">
            <i class='bx bx-up-arrow-alt'></i>
            <span class="text">Up from yesterday</span>
          </div>
        </div>
        <i class='bx bx-car cart two' ></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Published Rides</div>
          <div class="number">{{total_publisher}}</div>
          <div class="indicator">
            <i class='bx bx-up-arrow-alt'></i>
            <span class="text">Up from yesterday</span>
          </div>
        </div>
        <i class='bx bx-car cart three' ></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Cancelled by booker</div>
          <div class="number">{{cancelled}}</div>
          <div class="indicator">
            <i class='bx bx-down-arrow-alt down'></i>
            <span class="text">Down From Today</span>
          </div>
        </div>
        <i class='bx bx-x cart four' ></i>
      </div>
    </div>
    <!-- <div *ngIf="userlist">
      <canvas id="canvas">{{ userlist }}</canvas>
    </div> -->
    <!-- <div style="m"> -->
      <div class="row">
    <div class="col-md-9" style="width:60%; height: 35%; margin-left: 80px;">
      <canvas
      [chartType]="'bar'"
      [legend]="true"
        baseChart
        [datasets]="chartData"
      >
      </canvas>
    </div>
    <div class="col-md-3">
       <div class="row">
         <div class="col-md-12">
           <div class="boxs">
             <div class="right-side">
                <div class="box-topic">Cancelled by Publisher</div>
                <div class="number1">{{pcancell}}</div>
                 <!-- <i class='bx bx-cart cart sidesecond' ></i>   -->
                 <div class="indicator1">
                    <i  class='bx bx-up-arrow-alt'></i>
                    <span class="text">Up from yesterday</span>
                 </div>
              </div>
              
              <!-- <i class='bx bx-cart cart sidesecond' ></i>   -->
              <i class=" bx bx-time cart sidesecond"></i>

            </div>
          </div>
          <div class="col-md-12">
            <div class="boxs">
              <div class="right-side">
                 <div class="box-topic">Time Expired</div>
                 <div class="number1">{{timeEx}}</div>
                             <div class="indicator1">
                     <i  class='bx bx-up-arrow-alt'></i>
                     <span class="text">Up from yesterday</span>
                  </div>
               </div>
               <i class='bx bx-car  cart sidefirst'></i>  
               <!-- <i class='bx bx-cart cart three' ></i> -->
             </div>
          </div>
        
        </div>
    </div>
    </div>
  </div>
  
